<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @store.name %>
</p>


<%= link_to 'bearbeiten', edit_store_path(@store), :class => "tiny round button" %> |
<%= link_to 'zurück', stores_path, :class => "tiny round secondary button" %>
