<div id="home-logo">
	<%= image_tag("home_logo.jpg", :alt => "home_logo") %>
</div>

<div id="welcome">
	<h3>Hallo <%= @user.name %>!</h3>
	<p>Soup Management System (SMS) der Suppenfabrik</p>
</div>

