<div class="row">
	<div class="twelve columns">
		<h2>Endabrechnung</h2>
		<h5>Datum: <strong><%= @checkout.date.strftime("%d.%m.%Y") %></strong><br>
			<% unless @store.nil? %>
				Filiale: <strong><%= @store.name %></strong>
			<% end %>
		</h5>
	</div>
</div>