// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$darkred: #791225;

/*Products Form */

.headline {
	font-weight: bold;
	color: $darkred;
	margin-bottom: 2em;
}

.delete {
	text-decoration: underline;
	color: $darkred;
}