<% if user_signed_in? %>
	<div class="panel" id="userinfos">
		<h6>Benutzer:</h6>
		<p><%= current_user.name %></p>
		<h6>angemeldet seit:</h6>
		<p><%= current_user.current_sign_in_at.strftime("%d.%m.%y %H:%M") %></p>
	</div>
<% end %>